.container{
    display: flex;
    flex-wrap: wrap;
    border: 1px solid black;
    color:white;
    height: 15vh;
}

.item {
    width: 100px;
    background-color: blue;
    border: 1px solid;
}
.stretch{
    align-content: stretch;
}
.around{
    align-content: space-around;
}
.between{
    align-content: space-between;
}
.center{
    align-content: center;
}
.start{
    align-content: flex-start;
}
.end{
    align-content: flex-end;
}
.evenly{
    align-content: space-evenly;
}