.contaner{
    display: flex;
    flex-wrap: wrap;
    border: 1px solid black;
    color: aliceblue;
 
 }
 
 .item {
     width: 50px;
     height: 50px;
     background-color: blue;
     border: 1px solid black;
 }
 .start{
    justify-content:flex-start ;
 }
 .end{
    justify-content:flex-end;
 }
 .between{
    justify-content: space-between;
 }
 .around{
    justify-content: space-around;
 }
.evenly {
    justify-content: space-evenly;
}
.center {
    justify-content:center;
}