.box {
    height: 70px;
    width: 70px;
    padding: 5px;
    border: 2px solid black;
    border-radius: 5px;
   
    position: relative;
    top: 50px;
    left:50px;
    transition: all 1s ease-in-out;
    
  
    
}
#box1{
    background-color:lime;
}
#box1:hover {
    transform: translate(50px);
}
#box2{
    background-color:blueviolet;
}
#box2:hover {
    transform: translate(50px,50px);
}
#box3{
    background-color:brown;
}
#box3:hover {
    transform: translatex(50px);
}
#box4{
    background-color:violet;
}
#box4:hover {
    transform: translatey(50px);
}
