.box {
    padding: 5px;
    height: 100px;
    width: 100px;
    background-color: aquamarine;
}
@media screen and ( min-width: 300px) {
    .box {
        height: 150px;
        width: 150px;
    }
    

}
    
