.box {
    height: 200px;
    width: 200px;
    margin: 5px;
    padding: 5px;
    border: 2px dotted red;
    background-color: aqua;
}
#first_button{
    height: 70px;
    width: 70px;
    padding: 10px 15px ;
    margin: 100px;
    border: 2px dotted red;
    border-radius: 35px ;
}
#box1{
    box-sizing: content-box;
}
#box2{
    box-sizing: border-box;
}